@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Medula+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --font-inicial: 'Medula One';
    --font-principal: 'Raleway';
    --font-secundaria: 'Bebas Neue';

    --cor-principal: linear-gradient(
        to  bottom right,
        #5D69BE,
        #C89FEB
    );

    --cor-secundaria: #EBEBEB;
    --cor-complementar: #5D69BE;
    --cor-terciaria: #D9D9D9;
    --cor-texto: #000000;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 152px;
    box-sizing: border-box;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
}

.skills,
.certificados,
.projetos{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-home{
    width: 100%;
}

@media(max-width: 1024px){
    body{
        margin: 0 80px;
    }

    .skills,
    .certificados,
    .projetos{
    margin-top: 180px;
    }
}

@media(max-width: 769px){
    body{
        margin: 0 40px;
    }
}

@media(max-width: 480px){
    body{
        margin: 0 40px;
    }

    .skills,
    .certificados,
    .projetos{
        margin-top: 80px;
    }
}
